
<div class="login-container">
    <div class="login-left">
      <h2>Get Started Now</h2>
      <p>Enter your credentials to access your account</p>
      
     
      
        <div class="social-login">
            <button class="google-login" id="googleSignInButton"></button><!-- Google Sign-In Button here -->
            
          
        <button class="apple-login">
          <img src="https://i.pinimg.com/736x/c7/6f/bf/c76fbf73ded1404244bf9d4dfc1850ca.jpg" alt="Apple Logo" class="social-logo" />
          Continue with Apple
        </button>
      </div>
      
      <p class="divider">or</p>
      
      
      <form (ngSubmit)="onLogin()" class="login-form">
        <div class="input-group">
          <label for="email">Email address</label>
          <input
            type="email"
            id="email"
            [(ngModel)]="email"
            name="email"
            placeholder="your-email@example.com"
            required
          />
        </div>
        
        <div class="input-group">
          <label for="password">Password</label>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="password"
            required
          />
          <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
        </div>
        
        <p class="forgot-password">
          <a routerLink="/forgot-password">Forgot password?</a>
        </p>
        
        
        
        <button type="submit" class="login-button" [disabled]="loading">
          <span *ngIf="loading">Loading...</span>
          <span *ngIf="!loading">Login</span>
        </button>
        <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
      
      <p class="signup-text">
        Don't have an account? <a routerLink="/register">Sign Up</a>
      </p>
    </div>
  
    
    <div class="login-right">
      <img
        src="assets/excel-sheet-logo.png"
        alt="Workforce Management Illustration"
        class="rounded-image" />
    </div>
  </div>
  

    <!--<div class="login-container">
  https://cdn.dribbble.com/userupload/15437562/file/original-d036243609a29329ab9038a0d7780c54.png?resize=1504x1128
    <div class="login-card">
        <h2>Login</h2>
        <form (ngSubmit)="onLogin()">
            <div class="input-group">
                <span class="input-icon">📧</span>
                <input
                    type="email"
                    id="email"
                    [(ngModel)]="email"
                    name="email"
                    placeholder="Your Email"
                    required
                />
            </div>
            <div class="input-group">
                <span class="input-icon">🔒</span>
                <input
                    [type]="passwordVisible ? 'text' : 'password'"
                    id="password"
                    [(ngModel)]="password"
                    name="password"
                    placeholder="Your Password"
                    required
                />
                <span class="toggle-password" (click)="togglePasswordVisibility()">👁️</span>
            </div>
            <button type="submit" class="login-button" [disabled]="loading">
                <span *ngIf="loading">Loading...</span>
                <span *ngIf="!loading">Login</span>
            </button>
            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      </form>
  
      <p class="signup-text">
        Don't have an account? <a (click)="navigateToRegister()">Sign Up</a>
      </p>
  
     
      <p class="forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
        
      </p>
        
    </div>
</!--<div> -->

  